.cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.cont > div {
  text-align: start;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (max-width: 767px) {
  .cont {
    grid-template-columns: repeat(1, 1fr);
  }
}
